
.header{
    display: flex;
    justify-content: space-between;
    
   box-shadow: 2px 2px 20px  black;
   transition: all ease .5s;
    
    
}

.header:hover{
     box-shadow: 2px 2px 20px  red;
}



.com-logo{
    width: 100px;
    height: 70px;
}

.nav-items > ul{
   display: flex;

}

.nav-items > ul> li{
   
    list-style: none;
    padding: 10px;
    font-weight: 600;
}

.rescard{
     width: 250px;
    
     background-color: #D2E9E9;
     padding: 10px;
     margin: 20px;
     border-radius: 10px;
     transition: all ease .5s;
}

.rescard:hover{
    
    cursor: pointer;
    box-shadow: 5px 10px 15px #1D5D9B;
}

.res-logo{
    width: 100%;
    
}

.body{
    margin: 10px;
}

.Restra{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;

    
}

.search{
    margin: 10px;
   
}

.filter-btn{
    margin: 10px;
    background-color: grey;
    color: white;
    border-radius: 5px;
    padding: 7px;
    transition: all ease .3s;

}

.filter-btn:hover{
    background-color: red;
    box-shadow: 0px 0px 10px black;
}

.shimmer-card{
    width: 200px;
    height: 400px;
    margin: 30px;
    background-color: rgb(180, 180, 180);
    border-radius: 10px;

}

.shimmer-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.Login-btn{
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.search-area{
   margin: 15px;
}

.filter{
    display: flex;
}
